<a href="https://colab.research.google.com/github/radhaete/python/blob/main/python_adv_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np


pd.Series(["data1", "data2"], index=["i1", "i2"])

i1    data1
i2    data2
dtype: object

In [ ]:
s=pd.Series()
s

Series([], dtype: object)

In [ ]:
import numpy as np
a=np.array(["a","b","c","d"])
b=[1,2,3,4]
pd.Series(a,b)

1    a
2    b
3    c
4    d
dtype: object

In [ ]:
arrays = [["A", "A", "B", "B"], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=("item", "time"))

df = pd.DataFrame({"value": [10, 20, 30, 40]},
    index=index)
print(df)

           value
item time
A    1        10
     2        20
B    1        30
     2        40

In [ ]:
l=[1,2,3,4]
index=["i","v","f","g"]
pd.Series(l,index)

i    1
v    2
f    3
g    4
dtype: int64

In [ ]:
grade=pd.Series(["a","b","c"],["Radha","chinnu","neethu"])
grade

Radha     a
chinnu    b
neethu    c
dtype: object

In [ ]:
# Q:Create a numpy array having 5 elements(21,22,23,24,25) & convert ot into a pandas series add index also(A,B,C,D,E)
import numpy as np
import pandas as pd

elements=np.array([21,22,23,24,25])
num_series=pd.Series(elements,index=["A","B","C","D","E"])
print(num_series)

A    21
B    22
C    23
D    24
E    25
dtype: int64

In [ ]:
a={"fruit":["apple","lemon","orange","juice"],"price":[10,20,30,40]}
b=[5,7,8,9]
pd.DataFrame(a,b)

    fruit  price
5   apple     10
7   lemon     20
8  orange     30
9   juice     40

In [ ]:
# Q"Create a set having 5 elements (wt in kgs) and convert it into a pandasDataFrame add label as index(use the name) aslo give column name.
data={89,98,94,93,95}
df=pd.DataFrame(data,columns=["weight"],index=["s","v","c","b","g"])
print(df)

   weight
s      98
v      89
c      93
b      94
g      95

In [ ]:
# Q:convert a dictionary with two keys"name","percentage" and their corresponding values into a tabular format
#  using pandas.dataframe function.add index also in the df as index=index.
a={"name":["a","b","c","d"],"percentage":[89,90,96,97]}
Indexs=[1,2,3,4]
pd.DataFrame(a,index=Indexs)

  name  percentage
1    a          89
2    b          90
3    c          96
4    d          97

In [ ]:
# Q:Identify error in given code and fix it.
l=[10,20,30,40,50]
s=pd.Series(l,index=[0,1,2,3,4])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# Q:Create a numpy array having(21,22,23,24,25) & convert it into a pandas series,add index also(a,b,c,d,e).
# check shape,size,dimension,values & memory usage.
a=np.array([21,22,23,24,25])
num_s=pd.Series(a,index=[1,2,3,4,5])
pd.DataFrame(a,index=[1,2,3,4,5])
print(num_s)
print(num_s.shape)
print(num_s.size)
print(num_s.memory_usage)
print(num_s.ndim)
print(type(a))

1    21
2    22
3    23
4    24
5    25
dtype: int64
(5,)
5
<bound method Series.memory_usage of 1    21
2    22
3    23
4    24
5    25
dtype: int64>
1
<class 'numpy.ndarray'>

In [ ]:
# Q:merge multiple given dataframes without calling merge function times.you also need all obsevations from all dataframes.
player=["a","b","c","d"]
score=[1,2,3,4]
df1=pd.DataFrame({"player":player,"score":score})
print(df1)

  player  score
0      a      1
1      b      2
2      c      3
3      d      4

In [ ]:
From functools import reduce
df=[]
df_merged=reduce(lambda a,b:pd.merge(a,b on=["player"],how="outer",df))
print(df_merged)

In [ ]:
# Q:create 2 pandas series & perform floordivision & check if series one is > (or)==to another series.
s1=pd.Series([10,11,12,13,14])
s2=pd.Series([5,10,15,20,25])
s3=s1.floordiv(s2)
s4=s1>=s2
print("s3=\n",s3)
print("s4=\n",s4)

s3=
 0    2
1    1
2    0
3    0
4    0
dtype: int64
s4=
 0     True
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
# DateTime
import datetime
x=datetime.datetime.now()
print(x)

2025-12-23 06:09:00.275820

In [ ]:
today=datetime.datetime.today()
print(today)

2025-12-23 06:10:12.331244

In [ ]:
# strftime()
x=datetime.datetime(2025,12,23)
print(x.strftime("%c"))

Tue Dec 23 00:00:00 2025

In [ ]:
# parsing a date from a string.
date_str="2025-12-23"
date=datetime.datetime.strptime(date_str,"%Y-%m-%d").date()
print(date)

# strptime=convert/parses from string to date
# strftime=convert date to string

2025-12-23

In [ ]:
# formatting a date as a string
date=datetime.date(2025,12,23)
date_str=date.strftime ("%d-%m-%Y")
print(date_str)
print(type(date))
print(type(date_str))

23-12-2025
<class 'datetime.date'>
<class 'str'>

In [ ]:
date_str="2025-12-23"
print(type(date_str))
datetime_obj=datetime.datetime.strptime(date_str,"%Y-%m-%d").date()
print(datetime_obj)

<class 'str'>
2025-12-23

In [ ]:
# Q:Check how many times apple word is present.
# import datetime library check current time in your system
import datetime
x=datetime.datetime.now()
print(x)

2025-12-23 06:51:28.171795

In [ ]:
# Q:create a date object using your date of birth.
import datetime
dob=datetime.datetime(1990,4,10)
print(dob)

1990-04-10 00:00:00

In [ ]:
# Q:Get the short version of your birth month.For example:Apr
x=datetime.datetime(1990,4,10)
print(x.strftime("%b"))

Apr

In [ ]:
# Q:Find the weekday you were born.
dob=datetime.datetime(1990,4,10)
print(dob.strftime("%c"))

Tue Apr 10 00:00:00 1990

In [ ]:
# Q:Find the difference between today & your dob.
dob=datetime.datetime(1990,4,10)
print(dob.strftime("%c"))
todaysdate=datetime.datetime.today()
print(todaysdate)

years = todaysdate.year - dob.year

# Adjust if birthday has not occurred yet this year
if (todaysdate.month, todaysdate.day) < (dob.month, dob.day):
    years

print("Age in years:", years)

Tue Apr 10 00:00:00 1990
2025-12-23 07:26:57.601677
Age in years: 35

In [ ]:
years = todaysdate.year - dob.year

# Adjust if birthday has not occurred yet this year
if (todaysdate.month, todaysdate.day) < (dob.month, dob.day):
    years -= 1

print("Age in years:", years)

In [ ]:
dob=datetime.datetime(1990,4,10)
dob1=dob.strftime("%A")
print(dob1)
today=datetime.datetime.today()
print(today)
diff=(today-dob)
print(diff)
years=diff.days//365
print("age of mine in years is:",years)

Tuesday
2025-12-23 07:34:06.051410
13041 days, 7:34:06.051410
age of mine in years is: 35

In [2]:
# Q:Import re lib  use the given code as an example & write another code.
# If pattern matches it should print match found,otherwise no match found.
import re
pattern="data science"
stri="data science is the most demanding course."
match_obj=re.match(pattern,stri)
print(match_obj)
if match_obj:
  print("match found")
else:
  print("no match")

<re.Match object; span=(0, 12), match='data science'>
match found

In [3]:
# Q:current batch no is DS121.we want to be sure that 1st word is starting and ending with a number or not.
pattern="^[A-Z]+\d+$"
string="DS30"
mach=re.match(pattern,string)
if mach:
  print("match found")
else:
  print("no match")

match found

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-4211597347.py:2: SyntaxWarning: invalid escape sequence '\d'
  pattern="^[A-Z]+\d+$"

In [4]:
pattern="^[A-Z]+\d*$"
string="DS30"
mach=re.match(pattern,string)
if mach:
  print("match found")
else:
  print("no match")

match found

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-2247606971.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern="^[A-Z]+\d*$"

In [5]:
# Findall:all occurence
x=re.findall(",",Ds17)
print(x)

NameError: name 'Ds17' is not defined

In [6]:
# Q:match the pattern in given string.
pattern="^[A-Z]+\d+$"
string="The data science is the most demanding course"
mach=re.match(pattern,string)
print(mach)

None

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-3323380420.py:2: SyntaxWarning: invalid escape sequence '\d'
  pattern="^[A-Z]+\d+$"

In [8]:
# Q:Make the necessary modification to the given code in order to obtain the desired results.
import re
pattern="^[A-Z][\s\w]+\d*$"
string="DS27 is a batch 27"
mach=re.match(pattern,string)
if mach:
  print("match found")
else:
  print("match not found")

match found

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1602698606.py:3: SyntaxWarning: invalid escape sequence '\s'
  pattern="^[A-Z][\s\w]+\d*$"

In [9]:
# ^[A-Z]= 1ST character start with A to Z
# \s =only one space
# \w =alphanumeric
# + =1 or more
# \d =digit
# * = o or more
# $ = ends with
# Q: In the given sentence try to find if second is present or not.DS27,is in the second week of python,and doing excellent.
import re
string="DS27 is in the second week of python and doing excellent. "
a=re.findall("second",string)
print(a)

['second']

In [16]:
# Q:Find the capital letters in the given sentence."DS@7 is the second week of Python and Doing excellent"
string="DS@7 is the second week of Python and Doing Ecellent"
pattern="[A-Z]"
match_str=re.findall(pattern,string)
print(match_str)

['D', 'S', 'P', 'D', 'E']

In [19]:
# Q:Find digits in the given sentence.
string="DS27 is in the 2nd week of python and doing good."
pattern="[\d]"
match_str=re.findall(pattern,string)
print(match_str)

['2', '7', '2']

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-4195382503.py:3: SyntaxWarning: invalid escape sequence '\d'
  pattern="[\d]"

In [20]:
string="DS27 is in the 2nd week of python and doing good."
pattern="[\d]+"
match_str=re.findall(pattern,string)
print(match_str)

['27', '2']

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-207872377.py:2: SyntaxWarning: invalid escape sequence '\d'
  pattern="[\d]+"

In [23]:
# re.search
gene="ATGCAATCCGGAATTCCCGGTAGCTAGCTAGC"
ma=re.search(pattern,gene)
print(ma)
if ma:
  print("match found at index %d : %s"% (ma.start(),ma.group()))
else:
  print("No match")

None
No match

In [32]:
# Finditer
text="ATGCAATCCGGAATTCCCGGTAGCTAGCTAGC"
pattern="[AGCT]"
matches=re.finditer(pattern,text)
print(matches)
for match in matches:
  print("Match:", match.group(), "found at index:", match.start())

<callable_iterator object at 0x7ea243864b50>
Match: A found at index: 0
Match: T found at index: 1
Match: G found at index: 2
Match: C found at index: 3
Match: A found at index: 4
Match: A found at index: 5
Match: T found at index: 6
Match: C found at index: 7
Match: C found at index: 8
Match: G found at index: 9
Match: G found at index: 10
Match: A found at index: 11
Match: A found at index: 12
Match: T found at index: 13
Match: T found at index: 14
Match: C found at index: 15
Match: C found at index: 16
Match: C found at index: 17
Match: G found at index: 18
Match: G found at index: 19
Match: T found at index: 20
Match: A found at index: 21
Match: G found at index: 22
Match: C found at index: 23
Match: T found at index: 24
Match: A found at index: 25
Match: G found at index: 26
Match: C found at index: 27
Match: T found at index: 28
Match: A found at index: 29
Match: G found at index: 30
Match: C found at index: 31

In [36]:
# span
text="GC@@AATCCG@@$%GAATTCCCGG$#@TAGCTAGCT"
pattern="[^AGCT]"
x=re.search(pattern,text)
print(x.span())

(2, 3)

In [39]:
# group
text="GC@@AATCCG@@$%GAATTCCCGG$#@TAGCTAGCT"
pattern="[^AGCT]"
x=re.search(pattern,text)
print(x)
print(x.group())

<re.Match object; span=(2, 3), match='@'>
@

In [40]:
# sub
text="GC@@AATCCG@@$%GAATTCCCGG$#@TAGCTAGCT"
print(re.sub("GCGCGC","=ATTACHED",text))

GC@@AATCCG@@$%GAATTCCCGG$#@TAGCTAGCT

In [44]:
# split
info="There is 60 students in DS"
pattern="60"
print(re.split(pattern,info))

['There is ', ' students in DS']

In [43]:
date="1990-04-10"
result=re.split("\D",date,maxsplit=2)
print(result)

['1990', '04', '10']

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
/tmp/ipython-input-4209645137.py:2: SyntaxWarning: invalid escape sequence '\D'
  result=re.split("\D",date,maxsplit=2)